body{
    font-family: Arial;
    background: #f2f2f2;
}

.container{
    width: 400px;
    margin: 40px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

h2{
    text-align: center;
}

input, select, textarea{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
}

button{
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
}

#loginBtn{
    display: none;
    background: #1565c0;
}

#msg{
    text-align: center;
    color: green;
}