body{
    margin:0;
    font-family: Arial, sans-serif;
    background:#f4f6f9;
}

/* Header */
header{
    text-align:center;
    background:#2c7be5;
    color:white;
    padding:20px;
}

/* Container */
.container{
    width:90%;
    margin:auto;
}

/* Sections */
section{
    background:white;
    margin:15px 0;
    padding:15px;
    border-radius:8px;
    box-shadow:0 0 8px rgba(0,0,0,0.1);
}

/* Headings */
h2{
    color:#2c7be5;
    border-bottom:2px solid #2c7be5;
    padding-bottom:5px;
}

/* Lists */
ul, ol{
    padding-left:20px;
}

/* Table */
table{
    width:100%;
    border-collapse:collapse;
}

th{
    background:#2c7be5;
    color:white;
}

th,td{
    border:1px solid #ccc;
    padding:10px;
    text-align:center;
}
section:hover {
    transform:scale(1.05);
}

tr:hover{
    background:#f1f1f1;
}

/* Footer */
footer{
    text-align:center;
    background:#333;
    color:white;
    padding:10px;
}