body{
    margin:0;
    font-family: Arial, sans-serif;
    background:hsl(0, 0%, 96%);
}

/* Header */
header{
    text-align:center;
    background:#d35400;
    color:white;
    padding:20px;
}

/* Container */
.container{
    width:90%;
    margin:auto;
}

/* Sections */
section{
    background:white;
    margin:15px 0;
    padding:15px;
    border-radius:8px;
   

/* Headings */
h2{
    color:#d35400;
    border-bottom:2px solid #d35400;
    padding-bottom:5px;
}

/* Table */
table{
    width:100%;
    border-collapse:collapse;
}

th{
    background:#d35400;
    color:white;
}

th,td{
    border:1px solid #ccc;
    padding:10px;
    text-align:center;
}

tr:hover{
    background:#771b1b;
}

/* Images */
img{
    width:80px;
    border-radius:5px;
}

/* Footer */
footer{
    text-align:center;
    background:#333;
    color:white;
    padding:10px;
}
/* ...existing code... */

/* Card Image */
